<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    
    
    </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <!--<add name="BalcarDB" providerName="System.Data.SqlClient" connectionString="Data Source=5.100.253.8;Initial Catalog=BalCarNew;User ID=desalto;Password=5Priscu83$" />-->
    <add name="BalcarDB" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-A7G0054\SQLEXPRESS;Initial Catalog=MOT;User ID=sa;Password=jadekia556" />

    <!--<add name="BalcarDB" providerName="System.Data.SqlClient" connectionString="Data Source=.\MSSQLSERVER2012;Initial Catalog=BalCarNew_Temp;Persist Security Info=True;Integrated Security = true" />-->
  </connectionStrings>
  
  
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>

  <appSettings>
    <!--<add key="IsFirstUse" value="1" />Db\20201026.csv-->
    <add key="Mot4wheels" value="" />
    <add key="MotCancel" value="" />
    <add key="MOTRecall" value="" />
    <add key="MOTRecallNoArrive" value="" />
    <add key="MOTModels" value="" />
    <add key="MOTTags" value="" />
    <add key="MOTCarDealers" value="" />
    <add key="MOTYevu" value="" />

    <add key="IDSAPI" value="1" />
    

  </appSettings>
</configuration>